<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283468538070-2bdu7eeh5uejju9q1g08uh2vmjmf8uh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283468538070-2bdu7eeh5uejju9q1g08uh2vmjmf8uh0</string>
	<key>API_KEY</key>
	<string>AIzaSyBu-uukf7vpgBALJ2rhAFqntBnECyCtMgk</string>
	<key>GCM_SENDER_ID</key>
	<string>283468538070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ILKA.FitMeets</string>
	<key>PROJECT_ID</key>
	<string>fitmeets-65e75</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmeets-65e75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283468538070:ios:ee12e80fd194817195e977</string>
</dict>
</plist>